
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');
*{
    font-family: 'Noto Sans JP', sans-serif;
}

#app{
    text-align:center;
    height:100%;
}
body{
    height:100%;
    --tw-bg-opacity: 1;
    background-color: rgba(209, 213, 219, var(--tw-bg-opacity));
}
.search--bar{
    display:block;
    width:80%;
    margin:auto;
}
.article-card,.artist-card{
    text-align: center;
    padding: 12px;

}
.article-card .content,.artist-card .content{
    height:100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flex-container{
    display:flex;
}
h2{
    font-size:24px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
h1{
    font-size:36px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    
}
img{
    max-width:100%;
    width:auto;
    height:300px;
    margin:auto;
}
.date{
    margin-bottom: 20px;
}
p{
    margin-bottom:20px;
}
.paginate-btn{
    height:80px;
    margin:auto;
    border: solid 1px #93e4b5;
    color: #ffffff;
    background-color: #93e4b5;
}
.paginate-btn:hover{
    opacity: 0.7;
}
